body {
  background: #c2c2d6;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.drum-pad {
  background-color: grey;
  width: 40px;
  height: 50px;
  color: white;
  float:left;
  border: 1px solid black;
  margin-top: 5px;
  margin-right: 5px;
  box-shadow: 3px 2px black;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drum-pad:hover {
  background-color: #A9A9A9;
}

.drum-pad:active {
  background-color: #989898;
}
